.ForecastList {
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    margin: 10px 0px;
}

@media (min-width: 240px) and (min-height: 400px) {
    .ForecastList {
        margin: 20px 0px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .ForecastList {
        margin: 30px 0px;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .ForecastList {
        margin: 60px 0px;
    }
}